<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>This site was created by Jussi Doherty. It uses data from mapbox.com and weatherstack.com</p>
    <img class="portrait" src="img/jussi.jpg">
</div>
    {{>footer}}

</body>
</html>